# simulation artifacts
*.vcd
*.fst
*.fst.hier

# test artifacts
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

# user-specific files
.idea
runs
tt_submission
src/user_config.json
src/config_merged.json

# other
.DS_Store
